<p>
    <!-- con <% %> se evalua el codigo de ruby mas nose muestra en pantalla -->
    <%# <% @articleF.title = @articleF.title + " mocked value" %> 

    <!-- con para mostrarlo: <%= %> -->
    <b>Title: </b> <%= @articleF.title %>
    <br>
    <b>Description: </b> <%= @articleF.description %>
    <br>
    <b>Author: </b> <%= @articleF.author %>
</p>
